{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <h1>XML Upload</h1>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-xs-6">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
